<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/stylenav.css">
    <link rel="stylesheet" href="../static/styleAcerca.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row primeraFila">
            <div class="col-2">  
                <a href="../index.html"><img class="casita" src="../images/casa_funny.png" alt="home"></a>
            </div>
            <div class="col-2">
                <a class="links" href="../index.html">Inicio</a>
            </div>
            <div class="col-2">
                <a class="links" href="./aboutMe.html">Acerca</a>
            </div>
            <div class="col-2">         
                <a class="links" href="./servicios.html">Servicios</a>
            </div>
            <div class="col-2">
                <a class="links contactame" href="./contactame.html">Contactame</a>
            </div>
        </div>
        <div class="row frase">
            <div class="col-6 imagen">
                <img src="../images/yo.png" alt="">
            </div>
            <div class="col-6 texto" style="background-color:pink;">
                <h1 style="text-align:center;">Sobre mi</h1>
                <p class="parrafos">Soy una estudiante nicaragüense apasionada por la programación 💻. Aprendí a programar en 2021, empezando con el lenguaje C. Actualmente estoy adentrándome en el mundo del desarrollo web en camino a convertirme en front-end developer.
                </p>
                <p class="parrafos">Soy una persona comprometida con mis metas, intento dar lo mejor de mi misma en cada uno de los aspectos en mi vida.</p>
                <p class="parrafos">
                    Me gusta mucho el café, si me ven por la uni regálenme uno ;)
                </p>
            </div>
        </div>
        <h2>Títulos</h2>
        <div class="row cosas">
            <div class="col-5 laSalle">              
                <img class="salle" src="../images/laSalle.png" alt="laSalle">
                <p class="p">Bachillerada del <a id="parrafo" href="https://www.lasalle.edu.ni/" target="_blank">Instituto Pedagógico La Salle.</a>Fui parte de la excelencia académica del colegio durante los años que estudié ahí.</p>
            </div>
            <div class="col-5" id="CS50">
                <img class="cs50" src="../images/cs50.png" alt="cs50">   
                <div>
                    <p class="pCS">Tomé el curso de CS50 Nicaragua, completando todas las tareas y un proyecto final, obteniendo mi título de Harvard. Puedes verlo aquí: </p>
                </div>
            </div>
            <div class="col-12 masdeYo">
                <h6>¿Quieres saber más de mi? </h6>
                <h6>Descarga mi CV aquí:</h6>
                <a class="btn btn-primary" download href="../Eloisse_Molina_CV.pdf" role="button" style="background-color:rgb(237, 84, 84); border: 2px solid rgb(237, 84, 84)">Descarga mi CV</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Correo: eloissemolina@gmail.com</p>
        <div class="redes">
            <a href="https://github.com/Elomolina" target="_blank"><img style="width:40px" src="../images/github.png" alt=""></a>
            <a href="https://www.instagram.com/elomoca/" target="_blank"><img style="width:40px" src="../images/insta.png" alt=""></a>
        </div>
    </div>
</body>
</html>