<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/contact.css">
    <link rel="stylesheet" href="/static/stylenav.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid contenedor">
        <div class="row primeraFila">
            <div class="col-2">  
                <a href="/cs50w-project0/index.html"><img class="casita" src="/images/casa_funny.png" alt="home"></a>
            </div>
            <div class="col-2">
                <a class="links" href="/index.html">Inicio</a>
            </div>
            <div class="col-2">
                <a class="links" href="./aboutMe.html">Acerca</a>
            </div>
            <div class="col-2">         
                <a class="links" href="./servicios.html">Servicios</a>
            </div>
            <div class="col-2">
                <a class="links contactame" href="./contactame.html">Contactame</a>
            </div>
        </div> 
    </div>
    <h5 style="text-align:center;">Puedes contactarme en cualquiera de mis redes sociales :D</h5>
    <div class="cards">
        <a href="https://www.instagram.com/elomoca/" target="_blank">
            <img class="img" src="/images/instagram.png" alt="">
        </a>
        <a href="https://www.linkedin.com/in/eloisse-francesca-molina-camacho-6606731b5/" target="_blank">
            <img class="img" src="/images/linkedin.png" alt="">
        </a>
        <a href="mailto:eloissemolina@gmail.com" target="_blank">
            <img class="img" src="/images/gmail.png" alt="">
        </a>
    </div>
    <div class="contactMe">
        <h5>Si tienes alguna pregunta déjame un mensaje 💌</h5> 
        <form action="">
            <input placeholder="Nombre" class="mensaje" type="text">
            <input class="mensaje" type="email" placeholder="Correo">
            <input class="mensaje subject" type="text" placeholder="Asunto">
            <input class="mensaje message" type="text" placeholder="Mensaje">
            <button type="submit" class="btn btn-danger" id="botoncito" style="font-weight: bold;">Enviar mensaje</button>
        </form>
    </div>
    <div class="footer">
        <p style="font-weight:bold;">Correo: eloissemolina@gmail.com</p>
        <div class="redes">
            <a href="https://github.com/Elomolina" target="_blank"><img style="width:40px" src="/images/github.png" alt=""></a>
            <a href="https://www.instagram.com/elomoca/" target="_blank"><img style="width:40px" src="/images/insta.png" alt=""></a>
        </div>
    </div>
    <script src="/scripts/scriptContacto.js"></script>
</body>
</html>