<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/servicios.css">
    <link rel="stylesheet" href="/static/stylenav.css">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row primeraFila">
            <div class="col-2">  
                <a href="/index.html"><img class="casita" src="/images/casa_funny.png" alt="home"></a>
            </div>
            <div class="col-2">
                <a class="links" href="/index.html">Inicio</a>
            </div>
            <div class="col-2">
                <a class="links" href="./aboutMe.html">Acerca</a>
            </div>
            <div class="col-2">         
                <a class="links" href="./servicios.html">Servicios</a>
            </div>
            <div class="col-2">
                <a class="links contactame" href="./contactame.html">Contactame</a>
            </div>
        </div>
        <div class="col-12">
            <table class="table-striped">
                <tr>
                   <td>
                    <img class="img-fluid" src="/images/C_Logo.png" alt="C">
                   </td>
                   <td>
                    <h2>Programación en C</h2>
                    <p>Si nunca has programado y te interesa aprender, o si ya sabes programar y te gustaría aprender un lenguaje de bajo nivel cómo C, soy la persona correcta para enseñarte. Empezando desde los conceptos más básicos de la programación hasta entender conceptos más complejos cómo las estructuras de datos. Serás capaz de pensar algoritmicamente y familiarizarte con la sintaxis del lenguaje C, de esa manera podrás aprender cualquier otro lenguaje con mayor facilidad.</p>
                   </td> 
                </tr>
                <tr>
                    <td>
                        <img class="img-fluid" src="/images/translator.png" alt="traducciones">
                    </td>
                    <td>
                        <h2>Traducciones</h2>
                        <p>Soy capaz de realizar traducciones de texto y video de inglés a español y de español a inglés. Tengo experiencia traduciendo clases de 3 horas y textos amplios con lenguaje técnico.</p>
                    </td> 
                 </tr>
                 <tr>
                    <td>
                        <img src="/images/english_teacher.png" alt="english">
                    </td>
                    <td>
                        <h3>Enseñanza del idioma inglés</h3>
                        <p>
                            Actualmente, saber manejar el idioma inglés es crucial para obtener un buen puesto laboral. Si quieres aprender las cuatro habilidades fundamentales para aprender inglés, tengo amplio conocimiento para ayudarte. Podrás oír conversaciones en inglés y en diferentes acentos y comprenderlas en su totalidad. Además, serás capaz de entablar una conversación usando lenguaje formal y coloquial. Tendrás las habilidades para poder escribir ensayos, correos formales e informales y textos argumentativos. Asimismo, podrás leer diferentes tipos de lecturas y comprenderlas en su totalidad. 
                        </p>
                    </td> 
                 </tr>
                 <tr>
                    <td>
                        <img src="/images/python.png" alt="python">
                    </td>
                    <td>
                        <h3>Bases de la programación con Python</h3>
                        <p>Si quieres aprender las bases de Python estoy para ti. Aprenderás sintaxis básica de los lenguajes de programación, como los ciclos y condicionales. También aprenderás sobre los distintos tipos de datos que tiene Python cómo las tuplas, los diccionarios y las listas. Al finalizar, serás capaz de resolver problemas lógicos en Python.</p>
                    </td> 
                 </tr>
                 <tr>
                    <td>
                        <img src="/images/sql.png" alt="SQL">
                    </td>
                    <td>
                        <h3>Bases de la programación con SQL</h3>
                        <p>Si quieres aprender a crear y manejar bases de datos relacionales soy apta para enseñarte. Aprenderás los comandos básicos de SQL. Aprenderás a crear tablas, insertar datos a dichas tablas, eliminar datos y actualizarlos. Verás cómo seleccionar datos en específico que se encuentren en una tabla. Por último, aprenderás a relacionar diferentes tablas de una base de datos.</p>
                    </td> 
                 </tr>
            </table>
        </div>
    </div>
    <div class="footer">
        <p style="font-weight:bold;">Correo: eloissemolina@gmail.com</p>
        <div class="redes">
            <a href="https://github.com/Elomolina"><img style="width:40px" src="/images/github.png" alt=""></a>
            <a href="https://www.instagram.com/elomoca/"><img style="width:40px" src="/images/insta.png" alt=""></a>
        </div>
    </div>
</body>
</html>